

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      <h1>About Us</h1>
      <p>This is me about me</p>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iusto exercitationem quidem culpa natus labore illum assumenda non ipsam aliquam 
         enim voluptas ullam perferendis quod cum, placeat adipisci possimus hic.
      </h4>
      <h2>About the company</h2>

      <a href="/">Home</a>
      <a href="/about">ABOUT</a>
      <a href="/contact">CONTACT</a>
      <a href="/add">ADD</a>
  
    </body>
    </html>
