<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact us Here</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil eos, incidunt tempore voluptatum sapiente necessitatibus minima inventore 
        numquam sit quos ducimus iusto et veniam, assumenda ex quis voluptatibus! Animi, debitis.</p>
        <h1>Contact Us Here</h1>
    <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/contact">CONTACT</a>
      <a href="/about">ABOUT</a>
      <a href="/add">ADD</a>
  
</body>
</html>